# chezmoi configuration template
# This file will be rendered to ~/.config/chezmoi/chezmoi.toml on each machine

# GPG encryption configuration (same for all machines)
encryption = "gpg"

[gpg]
    recipient = "C00057135DC3F491FD83847E62C4D5757BAD262B"

[data]
    # Personal git configuration (same for all machines)
    email = "kadaliao@gmail.com"
    gitname = "Kada Liao"

{{- if eq .chezmoi.os "darwin" }}
    # macOS
    is_macos = true
    is_linux = false
{{- else if eq .chezmoi.os "linux" }}
    # Linux server
    is_macos = false
    is_linux = true
{{- end }}
