[user]
	name = {{ .gitname }}
	email = {{ .email }}
[core]
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
	editor = vim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
{{- if .is_macos }}
[commit]
	template = {{ .chezmoi.homeDir }}/.stCommitMsg
{{- end }}
[alias]
	co = checkout
	ci = commit
	br = branch
	st = status
	unstage = reset HEAD --
[github]
	user = kadaliao
[http]
	sslVerify = false
[init]
	defaultBranch = master
{{- if .is_macos }}
	templatedir = {{ .chezmoi.homeDir }}/.git-templates
{{- end }}
