#!/bin/sh
set -eu

{{ $machineID := index . "frp_machine" | default "" -}}
{{ if and (eq .chezmoi.os "darwin") (has $machineID (list "mbp16" "mm")) -}}
DOMAIN="gui/$(id -u)"
LABEL="org.openlist.local"
PLIST="{{ .chezmoi.homeDir }}/Library/LaunchAgents/$LABEL.plist"

mkdir -p "{{ .chezmoi.homeDir }}/openlist/data/log"
launchctl bootout "$DOMAIN/$LABEL" >/dev/null 2>&1 || true
launchctl bootstrap "$DOMAIN" "$PLIST"
launchctl kickstart -k "$DOMAIN/$LABEL"
{{ end -}}
